<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorCargarEstacion</servlet-name>
        <servlet-class>BLL.ControladorCargarEstacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_ajaxDestino</servlet-name>
        <servlet-class>BLL.servlet_ajaxDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConsultarRuta</servlet-name>
        <servlet-class>BLL.ControladorConsultarRuta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCargaReserva</servlet-name>
        <servlet-class>BLL.ControladorCargaReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCargaCompra</servlet-name>
        <servlet-class>BLL.ControladorCargaCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistroCliente</servlet-name>
        <servlet-class>BLL.ControladorRegistroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLoginCliente</servlet-name>
        <servlet-class>BLL.ControladorLoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRealizarCompra</servlet-name>
        <servlet-class>BLL.ControladorRealizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIniciarSesion</servlet-name>
        <servlet-class>BLL.ControladorIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_ajaxHorario</servlet-name>
        <servlet-class>BLL.servlet_ajaxHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFinalizarViaje</servlet-name>
        <servlet-class>BLL.ControladorFinalizarViaje</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorCargarEstacion</servlet-name>
        <url-pattern>/ControladorCargarEstacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_ajaxDestino</servlet-name>
        <url-pattern>/servlet_ajaxDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConsultarRuta</servlet-name>
        <url-pattern>/ControladorConsultarRuta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCargaReserva</servlet-name>
        <url-pattern>/ControladorCargaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCargaCompra</servlet-name>
        <url-pattern>/ControladorCargaCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistroCliente</servlet-name>
        <url-pattern>/ControladorRegistroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLoginCliente</servlet-name>
        <url-pattern>/ControladorLoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRealizarCompra</servlet-name>
        <url-pattern>/ControladorRealizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIniciarSesion</servlet-name>
        <url-pattern>/ControladorIniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_ajaxHorario</servlet-name>
        <url-pattern>/servlet_ajaxHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFinalizarViaje</servlet-name>
        <url-pattern>/ControladorFinalizarViaje</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
